<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name%>

  <h2>Ingredients</h2>
  <ol>
    <% 10.times do |x| %>
    <li>
      <%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |rif| %>
        <%= rif.collection_select  :ingredient_id, Ingredient.all.order(:name),:id,:name, include_blank: true %>
        <%= rif.label :quantity %>
        <%= rif.number_field :quantity %>
        <%= rif.label :unit %>
        <%= rif.select :unit, ['','tbs','tsp','cups','quarts','pints','grams','pounds','units'] %>
      <% end %>
    <% end %>
  </li>
</ol>
  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.hidden_field :user_id, value: current_user.id %>


  <%= f.submit %>
<% end %>
