<div class="container-fluid">
  <h1><%= @recipe.name %></h1>

  <h2>Ingredients</h2>
  <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li><%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit == "units" ? "" : recipe_ingredient.unit%> <%= recipe_ingredient.ingredient.name %></li>
    <% end %>
  </ul>

  <h2>Directions</h2>
  <p><%=@recipe.description%></p>

  <% if current_user == @recipe.user %>
    <%=link_to "Edit Recipe", edit_recipe_path(@recipe), role: "button", class: "btn btn-primary" %>
    <%= link_to "Delete", @song, method: :delete, data: { confirm: "Really?" },  role: "button", class: "btn btn-danger" %>
  <% end %>
</div>
