<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><button class= "btn-inverse" id="blendspiration">Blendspiration</button></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" id="navLeft">
        <%if current_user%>
        <li><a><button class= "btn-inverse" id="recipeIndex">Recipes</button></a></li>
        <li><%= link_to 'Create Recipe', new_recipe_path %></li>
        <li><a><button class= "btn-inverse" id="ingredientIndex">Ingredients</button></a></li>
        
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="navRight">
        <%if current_user%>
        <li class="hidden" id="userId"><%=current_user.id%></li>
        <li><a><button class= "btn-inverse" id="userRecipesIndex"><%=current_user.email%></button></a></li>
        <li><%= link_to "Sign out", destroy_user_session_path , method: "delete"%></li>
        <%else%>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
